<h2 class="form-signin-heading">Редактирование профиля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <h3>Выберите изображение профиля </h3>
      <p><%=f.file_field :image, :onchange => "previewImage(this,[256],4);"%></p>
      <div class='imagePreview'>
      </div>

    </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :name %><br />
      <%= f.text_field :name %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(Если не хотите менять, не трогайте)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


    <div><%= f.label :country %><br />
      <%= f.text_field :country, autofocus: true, class: 'country',data: {autocomplete_source:
       Country.order(:name).map(&:name) }%></div>

    <div><%= f.label :city %><br />
      <%= f.text_field :city, autofocus: true, class: 'city', data: {autocomplete_source:
        City.order(:name).map(&:name)} %></div>


  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Удалить аккаунт</h3>

<%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Уверены?" }, method: :delete %>

<%= link_to "Back", :back %>
