<h1>Профиль пользователя</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <% @user_params_profile.each do |user|%>
                <%= image_tag(user.image, :heigth =>320, :width => 320)%>
                </div>
                <div class="col-sm-6 col-md-8">
                  <h4>Имя пользователя: <%= user.name%> </h4>
                  <p>
                    E-mail: <%=user.email%>
                    <br/>
                    <a href="<%=user_profile_calendar_path %>">Календарь <%= user.name %></a>
                    <br />
                        <a href="<%=edit_user_registration_path%>">Изменить профиль</a>
                        </p>
            <% end %>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
